*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   list-style-type:none;
   font-family: 'Open Sans', sans-serif;
}


a{
    text-decoration: none;
    color: white;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}

.text-white{
    color: white;
}

.margin-left-right-200{
   margin-left: 200px;
   margin-right: 200px;
}

header{
    background-image: url(images/header_bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

nav{
 
    padding: 20px 0px;
    
}

.btn-orange{
    background-color: #FD6E0A;
    padding: 15px 35px;
    border: none;
    color: whitesmoke;
    border-radius: 30%;
    margin-left: 10px;
}

.btn-orange:hover{
    background-image: linear-gradient(180deg,#cc5d0d,#ff843c);
}
.text-orange{
    color: #FD6E0A;
    color: crimson;
    color: teal;
}
.font-size-45{
    font-size: 45px;
}
.menu a{
    padding: 10px 15px; 
    border-radius: 5px;
    color: #000;
}
.menu a:hover{
    background-color: rgb(245, 6, 145);
}
.menu{
    display: flex;
    align-items: center;
}
.btn-orange{
    margin-right: 0px;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}

.font-size-85{
    font-size: 85px;
}
.introduction{
   padding-top: 30px;
}

.img-fluid{
    width: 100%;
    display: block;
}

.about-me{
    background-color:#FFF8F3 ;
    margin: 10% 0;
    text-align: center;
    padding: 80px;
}

/* About me style */
.card-container{
    margin: 4% auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-around;
}

@media screen and (max-width:576px) {
    .margin-left-right-200{
        margin-left:0px;
        margin-right: 0px;
     }
        
    nav,.menu{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        margin-top: 30px;
        width: 100%;
    }

     .menu a{
        padding: 10px 0px;
        text-align: center;
        width: 100%;
     }
     
   .introduction{
    flex-direction: column;
   }


   
.intro-text{
    text-align: center;
    width: 100%;
}

.intro-img{
    width: 100%;
}
    
.card-container{
    grid-template-columns: repeat(1,auto);

}
.card{
    margin: 5% 0;
}

}

@media screen and (min-width:576px) and (max-width:960px) {
    .margin-left-right-200{
        margin-left:50px;
        margin-right: 50px;
     }

     .introduction{
        flex-direction: column;
       }
    
    
       
    .intro-text{
        text-align: center;
        width: 100%;
    }
    
    .intro-img{
        width: 100%;
    }
     
    .card-container{
        grid-template-columns: repeat(2,auto);
    
    }
    .card{
        margin: 12% 0;
    }

}
